* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
}
/*Bogdan incepe aici*/

.header-container {
    width: 100%;
    height: 72px;
}
.header-container-align {
    height: 72px;
    width: 1000px;
    margin: 0 auto;
}
.header-container-align img {
    margin-top: 15px;
    margin-left: 5px;
}
.menu-container {
    height: 100%;
    width: 504px;
    float: right;
}
.menu-container li {
    height: 72px;
    float: right;
    list-style-type: none;
    border-top: 4px solid white;
}
.menu-container li a {
    font-size: 14px;
    color: #808184;
    font-weight: 700;
    line-height: 70px;
    padding: 15px;
}
.menu-container li:hover {
    border-top: 4px solid #5DCFCA;
}
.menu-container li a:hover {
    color: #5DCFCA;
}
.login a {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    border: 0px;
    height: 20px;
    border-radius: 4px;
}
.background {
    background-color: #808080;
    width: 100%;
    height: 522px;
}
.background-image {
    width: 1249px;
    height: 100%;
    margin: 0 auto;
    background: url('https://getpocket.com/i/v3/slide01.jpg');
    padding: 70px;
}
.signUp-container {
    width: 325px;
    height: 379px;
    float: right;
    border: 1px solid white;
    padding: 10px;
    line-height: 40px;
}
.signUp-container h3 {
    color: white;
}
/*Ionut incepe aici*/

.middle-container {
    position: relative;
    width: 100%;
    height: 360px;
    -webkit-box-shadow: 0px 15px 49px -22px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 15px 49px -22px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 15px 49px -22px rgba(0, 0, 0, 0.47);
}
.middle-content-container {
    margin: 0 auto;
    height: 265px;
    width: 1000px;
    margin-top: 70px;
}
.middle-content {
    float: left;
    width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    height: 265px;
}
.middle-content h5 {
    font-size: 20px;
    line-height: 50px;
}
.middle-content p {
    font-size: 12px;
    line-height: 20px;
    color: #6C6C6B;
}
.middle-content ul {
    /*margin-top: 55px;*/
    
    padding-left: 20px;
    list-style-type: none;
    line-height: 30px;
    font-size: 14px;
    color: #6C6C6B;
}
.middle-content ul li {
    margin-top: 10px;
    font-size: 12px;
}
.middle-content ul li a {
    height: 27px;
}
.middle-content ul li a span {
    line-height: 27px;
    color: #6C6C6B;
}
.middle-content ul li img {
    margin-right: 5px;
    vertical-align: -8px;
}
