* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Bogdan incepe aici*/
.header-container{
	width: 100%;
	height: 72px;
}

.header-container-align{
	height: 100%;
	width: 1000px;
}
.background{
	background-color: #808080;
}




/*Ionut incepe aici*/