* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

/*Ionut:*/
.side-bar-container {
    float: left;
    width: 250px;
    background-color: #2D2D2D;
/*Height used just for reference!!!*/
    height: 900px;
}







/*Bogdan:*/
.right-container{
	float: right;
	width: 1099px;
	padding: 30px;
}

.center-container{
	width: 860px;
	margin: 0 auto;
}

.page-title{
	width: 860px;

}

.page-title h3{
	float: left;
	font-size: 28px;
	line-height: 28px;
	position: relative;
}


.page-title input{
	float: right;
	height: 28px;
	width: 177px;
	border: 1px solid #BAB9B8;
	border-radius: 3px;
	background-image: url(http://www.clipartbest.com/cliparts/4cb/K7G/4cbK7Gggi.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px;
    padding: 5px;
    text-align: left;
}

.page-title a{
	float: right;
}

.page-title img{
	width: 20px;
	height: 20px;
	margin-right: 15px;
	margin-top: 5px;
}

.page-title small{
	position: relative;
	color:  #BAB9B8;
	clear: both;
	float: left;
	font-size: 14px;
	line-height: 14px;
}

.articles {
	width: 860px;
	float: left;
	margin-top: 70px;
}

.articles span{
	font-size: 16px;
	line-height: 14px;
	font-weight: bold;
	color: #BAB9B8;
	float: left;
	width: 860px;
	height: 16px;
}
.articles div{
	width: 264px;
	height: 320px;
	border: 1px solid #BAB9B8;
	margin-top: 10px;
	float: left;
	margin-bottom: 30px;
}
.articles div img{
	width: 263px;
	height: 171px;
}


.margin-left{
	margin-left: 34px;
}

.article-content{
	width: 15px;
}

.articles h6{
	margin:10px 0px 10px 10px;
	color: #929292;
	font-weight: bold;
}

.articles div p{
	margin:10px;
	color: #BAB9B8;
	font-size: 10px;
}

.articles a{
	color: #BAB9B8;
	text-decoration: none;
	margin-right: 5px;
	float: right;
	margin-top: 40px;
	font-size: 12px;
}

.articles small{
	float: right;
	margin-top: 40px;
	color: #BAB9B8;
	margin-right: 5px;
}