/*CSS-ing like a couple of mofos!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
.container {
    margin: 0 auto;
    width: 980px;
    height: 710px;

}
/*Ionut*/



/*Bogdan*/
.change-pass{
	width: 710px;
	height: 360px;
	border:1px solid #F5F5F5;
	border-radius: 5px;
}

.change-pass h6{
	background: #F5F5F5;
	width: 100%;
	height: 35px;
	font-size: 18px;
	padding: 5px 10px;
}

.edit-pass{
	position: relative;
	left: 10px;
}

.edit-pass input{
	display: block;
	width: 500px;
	height: 35px;
	margin-top: 10px;
}