/*CSS-ing like a couple of mofos!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #C3FAE3;
}
.container {
    margin: 0 auto;
    width: 980px;
    height: 710px;
}
/*Ionut*/
.aside {
    display: inline;
    float: left;
    width: 225px;
    height: 390px;
    border: 1px solid black;
    position: relative;
    top: 15px;
    left: 15px;
    border-radius: 3px;
}
.aside-header {
    width: 225px;
    height: 35px;

}



/*Bogdan*/